
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul{
  list-style: none;
}


body{
  height: 100vh;
  font-family: 'Roboto';
}

.icon{
  height: 1.7rem;
  width: 1.7rem;
}

.container{
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

aside{
  grid-row: 1 / 3;
  background-color: rgb(20, 159, 223);
}


main{
  background-color: lightgrey;
}

.dash-title{
  font-size: 1.5rem;
}

.dash-item{
  font-size: 1.2rem;
}

.dash-title,.dash-item{
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;
  margin: 13px;
}

.dash-title > img{
  height: 40px;
  width: 40px;
  fill: white;
  margin-right: 15px;
}

.dash-item > img{
  fill: white;
  margin-right: 15px;
}

.margin-bottom{
  margin-bottom: 50px;
}

header{
  display: grid;
  grid-template-rows: 1fr 2fr;
  gap: 20px;
  padding: 25px;
}

.header-top, .header-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

.header-left{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  flex: auto;
}

.header-right{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
}

.search-bar{
  background-color: rgb(233, 232, 232);
  height: 1.7rem;
  flex: 1 1 auto;
  max-width: 750px;
  min-width: 200px;
  border-radius: 1.7rem;
}

.profile-min{
  height: 3rem;
  width: 3rem;
  border-radius: 3rem;
}

.profile-max{
  height: 6rem;
  width: 6rem;
  border-radius: 6rem;
}

.username-med{
  font-weight: bold;
  font-size: 1.5rem;
}

.username-max{
  font-weight: bold;
  font-size: 1.8rem;
}

.header-top .username-med, .header-top .profile-min{
  margin-left: 0px;
}

.button{
  background-color: rgb(20, 159, 223);
  border-radius: 20px;
  padding: 8px 20px;
  color: white;
  font-weight: bold;
}

main{
  display: grid;
  grid-template-columns: 5fr 2fr;
  padding: 30px 20px;
}

.projects{
  margin-top: 10px;
  margin-right: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(375px,1fr));
  grid-auto-rows: 212px;
  gap: 15px;
}

.project{
  background: linear-gradient(to right, rgb(250, 182, 55) 10px, white 10px);
  padding: 40px 30px 20px 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-icons{
  display: flex;
  gap: 30px;
  margin-left: auto;
}

.announcments{
  margin-top:10px;
  margin-bottom: 15px;
  background-color: white;
  border-radius: 10px;
  padding: 30px 20px;
}

.announcments li hr{
  margin: 10px 0px;
}
.announcments h4{
  margin-bottom: 5px;
}

.trending{
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}

.trending li{
  display: flex;
  gap: 10px;
  padding: 10px 0px;
}

.trending div p:first-of-type{
  font-weight: bold;
}